{% extends 'base.html' %}

{% block content %}

<p class="mt-3" style="font-weight: bold;">Sobre nós</p><div style="max-height: 290px; overflow-y: scroll; background-color: #fff; border: 3px solid var(--primary-color); border-radius: 10px; padding: 1em; text-align: justify;">
	A <strong>RECICLA MAIS</strong> é um projeto que visa promover a reciclagem de lixo de forma benéfica tanto aos coletores de lixo quanto aos produtores e compradores. 
	<br>
	<br>
	<strong>Mas como?</strong>
	<br>
	No cenário atual em que vivemos, vemos muito lixo sendo descartado em ruas, rios, florestas, etc. Com isso, nós da RECICLA MAIS pensamos que
	seria possível fazer com que houvesse uma forma de facilitar o encaminhamento do lixo de forma facilitada, a fim de resolver a problemática proposta
	acima e até mesmo gerando empregos novos.
	<br><br>
	Nossa proposta é de construir um aplicativo, onde pessoas que possuem
	um acúmulo de lixo reciclável em casa e não sabem como descartar possam
	se cadastrar, da mesma forma que pessoas com interesse em vende-lo para
	postos de coleta e reciclagem. De forma que o lixo seja encaminhado para
	um local de reaproveitamento e os "catadores"possam receber sua parte vendendo o lixo.
	<br><br>
	A príncipio visamos um programa que atenda somente na região da
	Grande Vitória (Vila Velha, Vitória, etc.), pois são os locais em que temos
	conhecimento dos órgãos tratadores de lixo, mas futuramente pretendemos
	expandir o alcance do aplicativo para locais do Brasil todo e até mesmo do
	mundo todo, conforme órgãos tratadores de lixo forem entrando em contato
	conosco.
</div>

<div class="menuBottom">
	<img src="assets/img/pass1.png"> Faça login para obter acesso!
</div>

{% endblock %}